body {
    font-family: Arial, sans-serif;
    background-color: #135C5D;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.day {
    width: 15em;
    height: 10em;
}