body {
    font-family: Arial, sans-serif;
    background-color: #135C5D;
    color: white;
    margin: 0;
    padding: 1em;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: 
    "search search"
    "cityInfo today"
    "nextWeek nextWeek";
}

.day {
    width: 16em;
    height: 10em;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

#search {
    grid-area: search;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#cityInfo {
    grid-area: cityInfo;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 10px;
}

#cityName {
    font-size: 3rem;
    font-weight: bold;
}

#cityLatitude {
    padding-left: 30px;
}

#cityLongitude{
    padding-left: 30px;
}

#currentDay {
    grid-area: currentDay;
}

#nextWeek {
    grid-area: nextWeek;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}

#nextWeekTitle {
    grid-column: span 6;
    border-bottom: 2px solid white;
    align-self: flex-end;
    font-size: 2rem;
    font-weight: bold;
}

#todayWeather {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

#today {
    grid-area: today;
    justify-self: end;
}

#search-form {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    background: transparent;
    width: 300px;
}

#search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

#search-input::placeholder {
    color: white;
}

#search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
    color: white;
}

#search-button svg {
    stroke: currentColor;
    fill: none;
}

#error-message {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    color: red;
    margin-top: 10px; /* Margin above the error message */
    font-weight: bold;
    text-align: center; /* Center text alignment */
}